<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>HOME</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        natus quibusdam tenetur esse neque. Nulla, recusandae error soluta alias
        porro ad neque sit ipsam velit, nisi quod, quaerat officia enim sed
        facere veritatis voluptatibus. Asperiores hic aliquam sint eos minus id?
        Officia et culpa explicabo eligendi modi pariatur possimus quaerat?
      </p>
    </main>
  </body>
</html>
